# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Data
# data/

# Jupyter Notebook
.ipynb_checkpoints/

# VSCode
.vscode/

# macOS
.DS_Store

# Environment
.env
*.env

# Logs
*.log

# Others
*.sqlite3
*.db

# Backup files
*~
*.bak
*.swp
*.swo



# ---
inefficiencyandpolicyreport.pdf
股价预测项目.pptx.pdf
股价预测.docx

# data
star_market/bars_1d.parquet
star_market/factors_1d.parquet
